# ==========================================
# Local Configuration (CHANGE THIS ON EACH VM)
# ==========================================
# On VM 1 use rmq1, on VM 2 use rmq2, on VM 3 use rmq3
RABBITMQ_HOSTNAME=rmq1

# ==========================================
# Network Addressing (SAME ON ALL VMs)
# ==========================================
# Physical IPs of your 3 machines
IP_RMQ1=10.0.0.11
IP_RMQ2=10.0.0.12
IP_RMQ3=10.0.0.13

# ==========================================
# Cluster Configuration (SAME ON ALL VMs)
# ==========================================
# The cookie MUST be identical across all 3 nodes to form the cluster
RABBITMQ_ERLANG_COOKIE=place_a_random_strong_hash_here

# Default access credentials
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=yourpassword123
